@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* --- HEADER --- */
.header{
  display:flex;
}
.header-star{
  margin-top: 24px;
  margin-left: 15px;
  width: 28px;
  height: 25px;
  text-align: left;
  letter-spacing: 0px;
  color: #AAAAAA;
  opacity: 1;
}

.header-name{
  margin-top: 20px;
  margin-left: 17px;
  width: 158px;
  height: 34px;
  font-size:25px;
  font-weight: 600;
  color: #000000;
}

.header-button{
  margin-top: 16px;
  margin-left: 732px;
  width: 200px;
  height: 40px;
  background: #404040 ;
  border-radius: 4px;
  border:none;

  color: #FCFEFF;
  font-size: 18px;
  font-weight: 400;
  font-family: Arial, Helvetica, Regular;
}

.header-line{
  margin-top: 17.5px;
  margin-left: 15px;
  width: 1135px;
  height: 0px;
  border: 1px solid #333333;
  opacity: 1;
}

/* --- DASHBOARD ---*/
.dashboard{
  display:flex;
}

.dashboard-icon{

}
